*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.introduction-block{
    background-color: black;
    color: white;
    min-height: 100vh;          /* IMPORTANT */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    gap: 80px;
}


.details{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.details .data{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.details h1 {
    font-size: clamp(3rem, 5vw, 5rem);
}

.details p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.introduction-block .img{
    width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.introduction-block .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid blue;
}



.project-block{
    height: 100vh;
    width: 100%;
    background:whitesmoke;
    color: rgb(0, 0, 0);
}


@media (max-width: 900px) {
    .intoduction-block {
        flex-direction: column-reverse;
        padding: 80px 20px;
        gap: 50px;
        text-align: center;
    }

    .details {
        align-items: center;
    }
}
