.aboutSection {
  padding: 120px 40px;
  background: var(--background-color);
}

.container {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 70px;
  align-items: center;
  width: 1000px;
  margin: 0px auto;
}

.left {
  display: flex;
  flex-direction: column;
}

.tag {
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.heading {
  font-size: clamp(1.1rem, 7vw, 4rem);
  color: var(--text-main);
  line-height: 0.95;
  margin-bottom: 30px;
}



.description {
  color: var(--soft-grey);
  line-height: 1.8;
  font-size: clamp(0.7rem, 2Vw, 1rem);
  margin-bottom: 20px;
  max-width: 650px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  background: var(--lite-background-color);
  padding: 28px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: rgba(255, 255, 255, 0.12);
}

.card h3 {
  color: var(--text-main);
  margin-bottom: 18px;
  font-size: clamp(1rem, 4vw, 1.25rem);
}

.card span {
  color: white;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}

.card p,
.card small {
  color: var(--soft-grey);
  font-size:clamp(0.5rem, 4vw, 0.9rem);
}

.card ul {
  padding-left: 18px;
  color: var(--soft-grey);
  display: flex;
  font-size:clamp(0.5rem, 4vw, 0.9rem);
  flex-direction: column;
  gap: 5px;
}

.card li::marker {
  color: var(--blue);
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .aboutSection {
    padding: 80px 20px;
  }

  .heading {
    font-size: 2.5rem;
  }
}

@media (max-width: 1079px) {
  .aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  .left {
    align-items: center;
    justify-content: center;
  }
  .right {
    flex-direction: row;
  }
}

@media (max-width: 810px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin: auto;
  }
  .left {
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
  }
  .heading{
    text-align: center;
  }
  .right {
    flex-direction: column;
  }
  .description {
    text-align: center;
  }
  .heading {
    text-align: center;
  }
  .right{
    width:70%;
  }

  .card{
    width: 100%;
    padding: 5px;
  }
}
