.navbar {
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  width: 292px;
  border-radius: 8px;
  height: 48px;
  margin-top: 20px;
  align-items: center;
  background: var(--lite-background-color);
  padding: 20px;
  list-style: none;
  justify-content: space-between;
}

.icon{
  cursor: pointer;
}
