.navbar {
  margin: auto;
  align-items: center;
  justify-content: center;
  color: var(--text-main);
}

.list {
  display: flex;
  flex-direction: row;
  width: 292px;
  border-radius: 8px;
  height: 48px;
  margin-top: 20px;
  align-items: center;
  background: var(--lite-background-color);
  padding: 20px;
  list-style: none;
  justify-content: space-between;
}

.list li{
  cursor: pointer;
}
